<form action="/admin/new" method="post">
    <input type="text" name="name" id="name" placeholder="name"><br>
    <input type="text" name="description" id="description" placeholder="description"><br>
    <input type="text" name="image" id="image" placeholder="image"><br>
    <input type="text" name="price" id="price" placeholder="price"><br>
    <input type="submit" value="submit">
</form>