


    
    <header class="Navwrap" style="background-color: rgb(190, 185, 185); " >
        
        <button id="menu" onclick="myFunction()" style="font-size: larger; ">&#9776;</button>
        
        
        <div class="nav" style="width: 100%;">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/admin">Admin</a>
            <a href="/products">products</a>
            
           
        </div>
        
       

    </header>
    <!-- description  -->



    


    <!-- Remove the container if you want to extend the Footer to full width. -->

  <!-- End of .container -->
    <script src="./css/index.js">
        

    </script>
