<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
    <style>
       
          
    </style>
</head>
<body>
    
    <div class="Navwrap">
        
        <button id="menu" onclick="myFunction()" style="font-size: larger; ">&#9776;</button>
        
        <div class="nav">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/admin">Admin</a>
            <a href="/products">products</a>
            
           
        </div>
        <div class="info">
            
            
            <h1 >Welcome Nirmala Sitaraman</h1>
            <h3 style="text-align: center;">WELCOME TO OUR STORE</h3>
        </div>

    </div>
    <!-- description  -->



    


    <!-- Remove the container if you want to extend the Footer to full width. -->

  <!-- End of .container -->
    <script src="./css/index.js">
        

    </script>
</body>
</html>