  
        .nav>span,#menu>a{
            text-decoration: none;
            color:whitesmoke;
            font:bolder;
           
          
            padding: 30px;
           
        }
       
        #menu{
            width: auto;
            background-color: #252525;
            height: 15vh;
            display: flex;
            justify-content: end;
            align-items: center;
           border-radius: 10px;
           margin-bottom: 10vh;
           
          
        }
        #menu>a{
            display: flex;
            align-items: center;
            /* border: 2px solid green; */
            margin: 2px 5px;
            height: 2vh;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            border-radius: 20px;
            transition: 0.8s;
          background-color: #4e4848;
           padding: 30px 30px;
            text-align: center;

        }
        #menu>a:hover{
          background-color: rgb(218, 126, 84);
          transition: 0.8s;

        }
        @media only screen and (max-width: 836px) {
            .nav{
            width: auto;
            height: 10vh;
            background-color: #252525;
            display: flex;
            transition: 1s;
        }
             #menu{
            overflow: hidden;
            height: 0;
            background-color: black;
            position: absolute;
            color: white;
            width: 100%;
            transition: 1s;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 0px;
            opacity: 0.8;
           z-index: 2;
            
        }
        #menu>a{
            padding: 24px 48px;
            background-color:black;
        }
        }
        /* main */
        .mainWrap {
            width: auto;
            margin: auto;
        }

        .main {
            transition: 1s;
            width: 100%;

            height: 80vh;

            background-image: url("../../saloni_oil_website.html/images/bag6.jpg");

            background-size: cover;
            background-position: center;

            background-repeat: no-repeat;
            display: flex;
            justify-content: flex-start;
            align-items: center;


        }

        h1 {
            letter-spacing: 15px;

        }

        .info {
            color: rgb(180, 113, 26);
            background-color: bisque;
            border-radius: 25px;
            margin: auto;
            opacity: 0.5;

            display: flex;
            padding: 25px;
            justify-content: center;
            align-items: center;
            flex-direction: column;


        }

        .info>button {
            margin: 10px 0px;
            border-radius: 10px;
            font-weight: bolder;
            padding: 12px 24px;
            background-color: white;
            color: black;
        }

        .info>button:hover {
            color: white;
            background-color: black;
        }

       

        @media only screen and (max-width: 836px) {
            .info {
                height: auto;
                margin: auto;
            }
        }

        /* card */

        /* comments */

        /* footer */
        .span {
            display: block;
            position: absolute;
            left: 50%;
            top: -2px;
            margin-left: -25px;
            background-color: #fff;
            width: 50px;
            text-align: center;
        }

        .hr {
            background-color: #cdcdcd;
            height: 1px;
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }

        footer.nb-footer {
            background: #222;
            border-top: 4px solid rgb(194, 105, 56);
        }

        footer.nb-footer .about {
            margin: 0 auto;
            margin-top: 40px;
            max-width: 1170px;
            text-align: center;
        }

        footer.nb-footer .about p {
            font-size: 13px;
            color: #999;
            margin-top: 30px;
        }

        footer.nb-footer .about .social-media {
            margin-top: 15px;
        }

        footer.nb-footer .about .social-media ul li a {
            display: inline-block;
            width: 45px;
            height: 45px;
            line-height: 45px;
            border-radius: 50%;
            font-size: 16px;
            color: rgb(194, 105, 56);
            border: 1px solid rgba(255, 255, 255, 0.3);
        }

        footer.nb-footer .about .social-media ul li a:hover {
            background: rgb(194, 105, 56);
            color: #fff;
            border-color: rgb(194, 105, 56);
        }

        footer.nb-footer .footer-info-single {
            margin-top: 30px;
        }

        footer.nb-footer .footer-info-single .title {
            color: #aaa;
            text-transform: uppercase;
            font-size: 16px;
            border-left: 4px solid rgb(194, 105, 56);
            padding-left: 5px;
        }

        footer.nb-footer .footer-info-single ul li a {
            display: block;
            color: #aaa;
            padding: 2px 0;
        }

        footer.nb-footer .footer-info-single ul li a:hover {
            color: whitesmoke;
        }

        footer.nb-footer .footer-info-single p {
            font-size: 13px;
            line-height: 20px;
            color: #aaa;
        }

        footer.nb-footer .copyright {
            margin-top: 15px;
            background: #111;
            padding: 7px 0;
            color: #999;
        }

        footer.nb-footer .copyright p {
            margin: 0;
            padding: 0;
        }
        .list-unstyled{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transition: 0.8s;
            
        }
        .list-unstyled>li{
            padding: 10px;
            border-radius: 10px;
        }
        .list-unstyled>li:hover{
            background-color: rgb(239, 128, 87);
            transition: 0.8s;
        }
        .title{
            text-align: center;
        }

        /* products */
        .wrap {
            margin-top: 20vh;
                width: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                /* justify-content: space-evenly; */
                /* flex-wrap: wrap; */
                /* flex-basis: calc(50%-10px);
                overflow-x: scroll;
                flex-shrink: 0;
                scroll-snap-type: x mandatory;
                scroll-snap-align: start; */
            }
    
            .cards {
                width: 20vw;
                height: auto;
                
                border-radius: 12px;
                box-shadow: 0px 0px 10px 10px rgb(243, 234, 234);
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin: 10px 25px;
                padding: 15px;
                transition: 1s;
            }
    
            .cards>img {
                width: 100%;
                border-radius: 6px;
                height: 30vh;
                object-fit: cover;
                transition: 1s;
                object-position: top;
                /* margin: 10px 0px; */
    
            }
            .cards>img:hover{
                transition: 1s;
                object-position: center;
                
            }
    
            .Cardcontent {
                /* background-color: whitesmoke; */
                text-align: center;
                padding: 15px;
            }
    
            .cardbtn {
                width: 100%;
                display: flex;
                font-weight: bold;
                justify-content: space-evenly;
            }
            .cardbtn>a,.cardbtn>p>a{
                padding: 12px 24px;
                transition: 0.8s;
                border-radius: 10px;
                
            }
            .cardbtn>.submit:hover{
                transition: 0.8s;
                color: white;
            background-color: rgb(63, 220, 76);
            }
            
          
    
            @media only screen and (max-width: 913px) {
                .cards {
                    width: 70%;
                }
    
               
            }
            /* comments */
            textarea{
                width: 100%;
                height: 50vh;
            }
            .btnComm{
                background-color: rgb(179, 187, 186);
            }
            .btnComm:hover{
                background-color: rgb(145, 159, 144);
            }